@model WebAppMVC.Models.Cita

@{
    ViewBag.Title = "ConsultarCita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de cita</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlacaNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacaNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SucursalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SucursalId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "ModificarCita", new { id = Model.CitaId }) |
    @Html.ActionLink("Regresar", "ConsultarCitas")
</p>
